.section{
    .title{
 font-weight: bold;
font-size: 20px;
cursor: pointer;
margin-left:2% ;
    }
    .items{
border:1px solid black;
padding: 15px;
padding-top: 0px;
width:400px;
padding-bottom: 5px;
padding-left: 25px;
font-weight: normal;
text-align: justify;
margin:1%;
margin-left: 2%;
background-color: rgb(231, 229, 229);
    .name{
    font-size: 30px;
         }
    }
    .items:hover{
        background-color:lightskyblue;
        cursor: pointer;
    }
}