$width:1000px;
$height:"auto";

.buttonGroup{
    float: right;
    display: flex;
    flex-direction: row;
    margin-right: 30%;
    margin-top: 5%;
    button{
        margin-right: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        border-radius: 20px;
        cursor: pointer;
    }
    .edit{
        background-color: yellow;
    }
    .delete{
        background-color: red;
    }
}
.goBack{
    margin-left:10% ;
    margin-top: 2%;
    color:white;
    background-color: green;
    border-radius: 20px;
    cursor: pointer;
}
.Persondetails{
    margin-left: 30%;
padding:50px;
padding-top: 20px;
height: $height;
width: $width;
;
.name{
    font-size: 32px;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: bold;
    word-break: break-all;

}

    .itemsDetails{
        font-size: 40px;
    }
    .CardDetails{
        margin-top: 2%;
        align-self: center;
    }

}