.Navigation{
    .TopNavigation{
        background-color:#3799C7;
        padding: 20px;
        height: auto; 
        padding-left: 30px;
        font-family: 'Poppins', sans-serif;
        p{
            color: white;
            font-size: 35px;
            padding: 0px;
        }
    }
}